NOTION_TOKEN=secret_xxxxxxxxxxxxx
TASK_DATABASE_ID=xxxxxxxxxxxxxxxx
REPORT_DATABASE_ID=xxxxxxxxxxxxxxxx
DAILY_TEMPLATE_ID=xxxxxxxxxxxxxxxx
WEEKLY_TEMPLATE_ID=xxxxxxxxxxxxxxxx
MONTHLY_TEMPLATE_ID=xxxxxxxxxxxxxxxx
ONDEMAND_TEMPLATE_ID=xxxxxxxxxxxxxxxx

